body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#citation-container {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#link-input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#citation {
  font-style: italic;
}
